# Validator 0
[validator-0]
192.168.44.18

[validator-0:vars]
ansible_user=reza
# Preferably use a private telemetry server
telemetryUrl=wss://telemetry.polkadot.io/submit/
loggingFilter='sync=warn,afg=warn,babe=warn'


# Groups
[validator:children]
validator-0


# Common variables
[all:vars]
project=substrate-node

ansible_ssh_common_args='-o StrictHostKeyChecking=no -o ConnectTimeout=15'
build_dir=$HOME/.config/substrate-validator-node/build/w3f/ansible

# Specify which `Substrate` binary to install. Checksum is verified during execution.
substrate_binary_url='https://github.com/paritytech/polkadot/releases/download/v0.8.2/polkadot'
substrate_binary_checksum='sha256:349b786476de9188b79817cab48fc6fc030908ac0e8e2a46a1600625b1990758'

# Specify the chain/network.
substrate_network_id=polkadot
chain=polkadot

# Node exporter settings. Disabled by default.
node_exporter_enabled='false'
node_exporter_user='node_exporter_user'
node_exporter_password='node_exporter_password'
node_exporter_binary_url='https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz'
node_exporter_binary_checksum='sha256:b2503fd932f85f4e5baf161268854bf5d22001869b84f00fd2d1f57b51b72424'

# Substrate service restart settings. Enabled to restart every hour.
substrate_restart_enabled='true'
substrate_restart_minute='0'
substrate_restart_hour='*'
substrate_restart_day='*'
substrate_restart_month='*'
substrate_restart_weekday='*'
